<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> Bienvenido </h1>

    <h3>Seleccione una opción</h3>

    <a href="http://127.0.0.1:8000/home/">ver facturas</a> <br> 
    <a href="http://127.0.0.1:8000/form_item/"> registrar item</a> <br>
    <a href="http://127.0.0.1:8000/form_persona/">registrar persona</a> <br>
    <a href="http://127.0.0.1:8000/form_factura/">registrar factura</a> <br>
    
    
    <!--<a href=" url 'home.views.new_persona' "> new persona</a>-->

    
</body>
</html>