<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> Bienvenido </h1>
    <h3>Lista de facturas realizadas</h3>
    
    <ul>{% for fa in facturas %}
        
        <li> Fecha emision: {{ fa.Fecha_E }}</li>                

        <li> Emisor: {{ fa.Emisor.nombre }}</li>
        
        <li> Receptor: {{ fa.Receptor.nombre }}</li>
        
        <li> Item: {{ fa.ActItem.Descripcion_item }}</li>

        <li> Cantidad: {{ fa.Cantidad_item }}</li>
        
        <li> Valor sin iva: {{ fa.Valor_neto_sin }}</li>
        
        <li> Iva: {{ fa.Valor_iva }}</li>
        
        <li> Total: {{ fa.Valor_total }}</li>
        <hr>

        {% endfor %}
    </ul>
    
</body>
</html>